.container{
   margin: 0 auto;
   width: 100%;
   max-width: 1200px;
}
 
 #pattern-header {
    background-image: url(../img/img/pattern.png);
    background-color: rgb(47, 144, 255);
    background-repeat: repeat;
    background-position: center;
 }

 #logo {
    width: 200px;
    height: 90px;
    padding: 10px;
 }

 .scritta-grigio-normale{
    color: grey;
 }

 .scritta-grigio-piccola{
    color: grey;
    font-size: 12px;
 }

 .padding{
    padding-top: 20px;
 }

 .autori-foto{
    font-size: 12px;
 }

 .evidenziato{
    background-color: yellow;
 }

table{
    width: 100%;
    border-collapse: collapse;
}

.posizionamento-titoli{
    text-align: left;
}

 .prima-parte-tabella{
    background-color: rgb(38, 177, 232);
    color: white;
 }

 .th-modificato {
    width: 50%;
 }

 .tabella-background-chiaro{
    background-color: aqua;
 }

 h3{
    color: grey;
 }

#didascalia-foto {
    padding: 5px;
    color: white;
    text-align: left;
    width: 250px;
    height: 150px;
    font-size: 20px;
 }

 .art1{
    margin-bottom: 15px;
    background-image: url(../img/img/graph.jpg);
 }

 .art2{
    background-image: url(../img/img/monitor.jpg);
 }